<div class="user-approval-container">

  <div class="component-header">
    Schvalování uživatelů
  </div>

  <table class="table text-center table-hover">
    <thead class="thead-light">
    <tr>
      <th style="width: 35%"> Jméno </th>
      <th style="width: 35%"> Datum žádosti </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of authorizationRequests">
        <td>
          {{request.firstName}} {{request.lastName}}
        </td>
        <td>
          {{request.timestamp | date:'yyyy/MM/dd'}}
        </td>
        <td class="buttons">
          <button mat-icon-button (click)="userApproved(request.id, true)">
            <i class="material-icons approve-btn">done</i>
          </button>
          <button mat-icon-button (click)="userApproved(request.id, false)">
            <i class="material-icons reject-btn">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
