<div class="days-off-info-container">

  <div class="component-header" translate>
<!--    TODO-->
    <span translate>daysOffInfo.remaining</span>
  </div>

  <div class="days-off-type-container">
    <span class="days-off-remaining">{{extraVacationRemaining.value}}</span>
    <!--    TODO vypsat jednotky (.unit)-->
    <span class="days-off-type" translate>vacationType.vacation</span>
  </div>

  <div class="days-off-type-container">
    <span class="days-off-remaining">{{sickDaysRemaining.value}}</span>
    <!--    TODO vypsat jednotky (.unit)-->
    <span class="days-off-type" translate>vacationType.sickday</span>
  </div>

</div>
