<div class="days-off-info-container">

  <div class="component-header">
    Zbývající volno
  </div>

  <div class="days-off-type-container">
    <span class="days-off-remaining">{{extraVacationRemaining.value}}</span>
    <!--    TODO vypsat jednotky (.unit)-->
    <span class="days-off-type">Extra dovolená</span>
  </div>

  <div class="days-off-type-container">
    <span class="days-off-remaining">{{sickDaysRemaining.value}}</span>
    <!--    TODO vypsat jednotky (.unit)-->
    <span class="days-off-type">Sickdays</span>
  </div>

</div>
