<div class="vacation-info-container">

  <div class="component-header">
    <span translate>{{ 'vacationInfo.header' | translate }}</span>
  </div>

  <div class="vacation-type-container">
    <span class="vacation-remaining">{{extraVacationRemaining}}</span>
    <span class="units"> {{ 'vacationInfo.hours' | translate }}</span>
    <span class="vacation-type" translate>vacationType.vacation</span>
  </div>

  <div class="vacation-type-container">
    <span class="vacation-remaining">{{sickDaysRemaining}}</span>
    <span class="units"> {{ 'vacationInfo.days' | translate }}</span>
    <span class="vacation-type" translate>vacationType.sickday</span>
  </div>

</div>
