@import '../../common-styles/basic-component'

.vacation-info-container
  @extend .basic-component

.vacation-type-container
  border-bottom: 1px solid gainsboro
  padding-left: 20px

.vacation-remaining
  color: green
  font-size: 30px
  font-weight: bold

.vacation-type
  color: black
  font-weight: bold
  display: block

.units
  color: grey
  font-size: 10px
  font-style: italic
