<div class="days-off-approval-container" *ngIf="daysOffRequests">

  <div class="component-header">
    Schvalování volna
  </div>

  <div class="days-off-approval-list">
    <div class="row days-off-approval-header">
      <div class="col-md-3"> Jméno </div>
      <div class="col-md-3"> Typ volna </div>
      <div class="col-md-2"> Datum </div>
      <div class="col-md-1"> Od </div>
      <div class="col-md-1"> Do </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row days-off-approval" *ngFor="let request of daysOffRequests.vacation">
      <div class="col-md-3">
        {{request.user.name.first}} {{request.user.name.last}}
      </div>
      <div class="col-md-3">
        {{daysOffTypeToString(request.type)}}
      </div>
      <div class="col-md-2">
        {{request.date | date:'yyyy/MM/dd'}}
      </div>
      <div class="col-md-1">
        {{request.from}} <!-- TODO lepší formatting -->
      </div>
      <div class="col-md-1">
        {{request.to}} <!-- TODO lepší formatting -->
      </div>
      <div class="col-md-2">
        <div class="btn btn-success approve-btn" (click)="daysOffApprovalCompleted(request.id, true)">✓</div>
        <div class="btn btn-danger reject-btn"   (click)="daysOffApprovalCompleted(request.id, false)">X</div>
      </div>
    </div>
  </div>

</div>
