<h1 mat-dialog-title>Výběr volna</h1>

<div mat-dialog-content>
  <div>
    <label id="vacation-type-radio-group-label" class="dialog-label">Typ volna: </label>
    <mat-radio-group aria-labelledby="vacation-type-radio-group-label" class="vacation-type-radio-group" [(ngModel)]="selectedVacationType">
      <mat-radio-button class="vacation-type-radio-button" [value]=vacationType.SICKDAY>
        {{vacationType.SICKDAY}}
      </mat-radio-button>
      <mat-radio-button class="vacation-type-radio-button" [value]=vacationType.VACATION>
        {{vacationType.VACATION}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="datetime-interval">
    <div class="from-datetime">
      <span class="datetime-interval-label">Od:</span>
      <app-datetime [(date)]="data.fromDate" [(time)]="data.fromTime" [minuteStep]="MINUTE_STEP"></app-datetime>
    </div>
    <div class="to-datetime">
      <span class="datetime-interval-label">Do:</span>
      <app-datetime [(date)]="data.toDate" [(time)]="data.toTime" [minuteStep]="MINUTE_STEP"></app-datetime>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onConfirmClick()">Potvrdit</button>
  <button mat-raised-button color="basic" (click)="onCloseClick()">Zavřít</button>
</div>
