<h1 mat-dialog-title>
  <img
    [src]="data.photo"
    alt="photo"
    style="width: 35px; height: 35px; margin-right: 5px"
  >
  {{data.firstName + ' ' + data.lastName}}
</h1>
<hr>
<div mat-dialog-content>
  <div>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="_userType"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let type of _userTypes" [value]="type"
      >
        {{type}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field class="example-margin">
      <input
        matInput
        type="number"
        placeholder="Sickdays"
        min="1"
        step="0.5"
        [(ngModel)]="_sickDaysCount"
      >
    </mat-form-field>
  </div>
  <div>

  </div>
  <mat-form-field class="example-margin">
    <input
      matInput
      type="number"
      placeholder="Dovolená"
      min="1"
      step="0.5"
      [(ngModel)]="_vacationDaysCount"
    >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary" style="margin-right: 5px" (click)="onConfirmClick()">Potvrdit</button>
  <button class="btn btn-danger" (click)="onCloseClick()">Zavřít</button>
</div>
