<div>
  <div>
    <h3>Zaměstnanci
      <span class="material-icons">add</span>
      <span class="material-icons">edit</span>
    </h3>
    <div *ngIf="employeesBasicInformation">
      {{employeesBasicInformation[0].name.first}}
      {{employeesBasicInformation[0].calendar[0].date}}
      {{employeesBasicInformation[0].calendar[0].from}}
      {{employeesBasicInformation[0].calendar[0].to}}
<!--      {{employeesBasicInformation[0].calendar[1].date}}-->
    </div>
    <div *ngIf="employeeProfile">
      {{employeeProfile.photo}}
      {{employeeProfile.name.last}}
    </div>
    <div *ngIf="requests">
<!--      {{requests.vacation[0].user.name.first}}-->
<!--      {{requests.vacation[0].date}}-->
      {{requests.vacation[0].from}}
<!--      {{requests.authorization[0].date}}-->
    </div>
    <div *ngIf="calendars">
      {{calendars[0].status}}
      {{calendars[0].to}}
    </div>

    <div *ngIf="settings">
      {{settings.sickDay.unit}}
    </div>
    <button (click)="doSomethingFancy()">SUPER BUTTON ZKUS ME</button>
  </div>
  <hr>
</div>
