<div class="oncoming-days-off-container">

  <div class="component-header">
    {{'oncomingVacation.headline' | translate}}
  </div>

  <table class="table text-center table-hover">
    <thead class="thead-light">
      <tr>
        <th>{{'basic.vacationType' | translate}}</th>
        <th>{{'basic.date' | translate}}</th>
        <th>{{'basic.from' | translate}}</th>
        <th>{{'basic.to' | translate}}</th>
        <th>{{'oncomingVacation.status' | translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vac of oncomingVacation">
        <td style="width:15%">
          {{vac.type | translate}}
        </td>

        <td style="width:15%">
          {{vac.date}}
        </td>

        <td style="width:15%">
          {{vac.from}}
        </td>

        <td style="width:15%">
          {{vac.to}}
        </td>

        <td style="width:15%" class="status {{vac.status}}">
          {{vac.status | translate}}
        </td>

        <td class="buttons">
<!--          <button mat-icon-button (click)="vacationEdit.emit(vac)">-->
<!--            <i class="material-icons edit-btn">edit</i>-->
<!--          </button>-->
          <button mat-icon-button (click)="vacationRemove.emit(vac)">
            <i class="material-icons remove-btn">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
