<div class="row header">
  <img class="logo" src="../../assets/images/logo.png" alt="logo"/>
  <div class="language-and-user">
    <label [matMenuTriggerFor]="menu" class="language-menu">
      <span class="flag-icon flags flag-icon-gb" *ngIf="language === 'EN'"></span>
      <span class="flag-icon flags flag-icon-cz" *ngIf="language === 'CZ'"></span>
    </label>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchLanguage('en')">
          English <span class="flag-icon flag-icon-gb" ></span>
        </button>
        <button mat-menu-item (click)="switchLanguage('cs')">
          Česky <span class="flag-icon flag-icon-cz"></span>
        </button>
      </mat-menu>
    <button *ngIf="profile" class="user-info" (click)="onProfileClick()">
      <img class="user-icon" src="{{profile.photo}}" alt="profile-photo"/>
      <span class="user-name">{{profile.firstName}} {{profile.lastName}}</span>
    </button>
  </div>
</div>
