<h1 mat-dialog-title>Výchozí nastavení</h1>

<div mat-dialog-content>
  <span class="dialog-label">Notifikace o vypršení dovolené: </span>
  <app-datetime [(date)]="data.notificationDate" [(time)]="data.notificationTime" [minuteStep]="MINUTE_STEP"></app-datetime>

  <div class="sickday-count">
    <label for="sickdays-count-input" class="dialog-label">Počet sickdays:</label>
    <mat-form-field>
      <input id="sickdays-count-input" type="number" matInput [(ngModel)]="data.sickDayCount">
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onConfirmClick()">Potvrdit</button>
  <button mat-raised-button color="basic" (click)="onCloseClick()">Zavřít</button>
</div>
