@import '../../common-styles/basic-component'

.material-icons
    display: inline-flex
    align-items: center
    justify-content: center
    vertical-align: middle

.employee-component
  @extend .basic-component
  margin-top: 15px


.sickday
  background: #ffc0c0
  border-radius: 40%

.vacation
  background-color: #68b040
  border-radius: 40%
  width: 40px
