<div class="employee-component">
  <div>
    <span class="align-baseline" style="font-size: x-large">{{'basic.employees' | translate}}</span>

    <button
      id="settings-button"
      mat-icon-button
      (click)="openDefaultSettingsDialog()"
      class="align-baseline"
    >
      <i class="material-icons">settings</i>
    </button>

    <input
      type="file"
      [multiple]="false"
      #fileInput
      class="input-file"
      id="input-file"
      (change)="uploadXlsxFile(fileInput.files); fileInput.value = null;"
    />

    <label for="input-file" class="btn btn-primary" style="margin-right: 5px">Import</label>
    <label class="btn btn-danger" (click)="downloadPdf()">
      Export
    </label>

  </div>

  <table class="table text-center table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" style="width: 15%">{{'basic.name' | translate}}</th>
      <th scope="col" style="width: 5.0%" *ngFor="let day of days">{{day | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of _users">
      <th scope="row" style="font-size: x-small">
        <img
          alt="photo"
          [src]="user.imageLink"
          style="width: 35px; height: 35px; margin-right: 5px"
        >
        {{user.name}}
      </th>
      <td *ngFor="let date of user.dates">

        <div
          [class.sickday]="date.type === vacationType.SICKDAY"
          [class.vacation]="date.type === vacationType.VACATION"
        >
          {{date.date.getDate()}}
        </div>
      </td>
      <td>
        <span class="material-icons button-icon" style="font-size: small; margin-right: 10px" (click)="openUserProfile(user)">visibility</span>
        <span class="material-icons button-icon" style="font-size: small" (click)="openEditUserDialog(user)">edit</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
